.App {
  text-align:center;
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}

.ImageDiv{
  background-color: white;
  
}

/* properties for the  */
figure {
  border: thin #c0c0c0 solid;
  display: flex;
  flex-flow: column;
  padding: 5px;
  max-width: 200px;
  margin: auto;
}
/* image captions */
figcaption {
  background-color: #222;
  color: #fff;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
  
}

/* Gallery class is 1 big div with all the galleryitems in it */
.Gallery{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
}
/* this gets toggled on and off by clicking on the image of a galleryitem */
.figCaptionControl{
  display: none;
}

form{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin:10px;
}

/* url input */
form > :first-child{
  margin-right: 5px;
  margin-bottom: 5px;
  width: 400px;
}

/* description input */
form > :nth-child(2){
  margin-right: 5px;
  margin-bottom: 5px;
}

/* submit button */
form > :nth-child(3){
  margin-right: 5px;
  margin-bottom: 5px;
}
