.App {
  text-align:center;
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}

.ImageDiv{
  background-color: white;
  
}

figure {
  border: thin #c0c0c0 solid;
  display: flex;
  flex-flow: column;
  padding: 5px;
  max-width: 200px;
  margin: auto;
}
figcaption {
  background-color: #222;
  color: #fff;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
  
}
.Gallery{
  display: flex;
  justify-content: center;
  /* flex-flow: column; */
  align-items: center;
  flex-wrap: wrap;
  
}
.figCaptionControl{
  display: none;
}
.imgControl{
  display:none;
}
form{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin:10px;
}

form > :first-child{
  margin-right: 5px;
  margin-bottom: 5px;
  width: 400px;
}
form > :nth-child(2){
  margin-right: 5px;
  margin-bottom: 5px;
}
form > :nth-child(3){
  margin-right: 5px;
  margin-bottom: 5px;
}
